@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background-color: hsl(30, 38%, 92%);
}
.card{
	width: 32vh;
	height: 50vh;
	background-color: hsl(0, 0%, 100%);
	border-radius: 0% 3% 3% 0%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 4vh;
	padding-right: 1vh;
}
.perfume{
	font-family: 'Montserrat', sans-serif;
	color: hsl(228, 12%, 48%);
	letter-spacing: 0.3vh;
	font-size: 1.5vh;
	padding-top: 2vh;
}
.title{
	font-size: 3.8vh;
	color: hsl(212, 21%, 14%);
	font-family: 'Fraunces', serif;
	padding-right: 4vh;
	line-height: 3.4vh;
}
.description{
	font-family: 'Montserrat', sans-serif;
	color: hsl(228, 12%, 48%);
	font-size: 1.7vh;
	padding-right: 4vh;
	line-height: 160%;
}
.price{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	width: 100%;
}
.first{
	font-size: 3.5vh;
	font-family: 'Fraunces', serif;
	color: hsl(158, 36%, 37%);
}
.second{
	display: flex;
	align-items: center;
	font-size: 1.4vh;
	font-family: 'Fraunces', serif;
	color: hsl(228, 12%, 48%);
	padding-left: 1vh;
	text-decoration-line: line-through;
}
.product-image{
	width: 32vh;
	height: 50vh;
	border-radius: 3% 0% 0% 3%;
}
.button{
	display: flex;
	justify-content:center;
	align-items:center;
	width: 90%;
	height: 10vh;
}
.purshase{
	display: flex;
	justify-content: center;
	border: none;
	background-color: hsl(158, 36%, 37%);
	color: white;
	border-radius: 1vh;
	height: 55%;
	width: 100%;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5vh;
	font-weight: bold;
}
.purshase:hover{
	background-color: hsl(158, 36%, 24%);
}
.icon{
	padding: 10px;
}
@media only screen and (max-width: 750px)
{
	body {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 4vh;
		padding-right: 1vh;
	}
	.product-image{
		width: 37vh;
		height: 50vh;
		border-radius: 3% 3% 0% 0%;
	}
	.card{
		border-radius: 0% 0% 3% 3%;
	}

}
.attribution {
	font-size: 11px; text-align: center; }
.attribution a {
	color: hsl(228, 45%, 44%); }